<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<body>
	<div ng-app="myApp" ng-controller="userCtrl">
		Enter Userid to be deleted<input type="text" ng-model="ids"><br />
		<button ng-click="myFunc()">Submit</button>	
	
   <button onclick='location.href="http://localhost:8080/saasp/Home.html"' id="myButton">Back</button>	
	</div>

<script>
var app = angular.module('myApp', []);
app.controller('userCtrl', function($scope, $http) {
	$scope.myFunc = function() {
	    $http.delete("https://saasp.herokuapp.com/rest/user/"+$scope.ids).then(function(response) {
	    	alert("Success 456");
	        $scope.myData = response.data;
	        console.log($scope.myData)
	    });
	};
	
});
</script>

</body>
</html>